<mat-toolbar class="mat-toolbar-style">
  <i
    class="bi bi-book"
    style="margin-left: 45px; margin-right: 10px; font-size: 30px"
  ></i>
  <h1 class="app-name" routerLink="">Keep Note</h1>
  <span class="example-spacer"></span>
  <mat-icon class="icon-display book-icon-display">plus</mat-icon>
  <button mat-fab extended routerLink="/take-note">
    <mat-icon>add</mat-icon>
    Take Note
  </button>
  <button mat-fab extended routerLink="/show-note">
    <mat-icon>note</mat-icon>
    Show Notes
  </button>
</mat-toolbar>
